@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1
{
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
	color: #0CCAC4;
}

.header
{
	background: radial-gradient(rgb(0, 128, 128), rgb(0, 82, 82));
	border-bottom: 3px solid rgb(0, 60, 60);
}